
body{
    background-color:#ededed;
    font-family:楷体;
    font-size:16px;
    color:#a5a5a5;
}

/*  */
#title{
    height:60px;
    width:980px;
    margin:0 auto;
    text-align:center;
    line-height:60px;
}

#title s1{
    font-size:32px;
}

#title s2{
    font-size:18px;
}
/*  */

/*  */
.fenlei{
    width:980px;
    margin:0 auto;  
}

.fenlei h2{
    font-size:20px;
    height:35px;
    line-height:50px;
}


.fenlei p{
    text-align:center;
    font-family:"楷体";
    line-height:35px;
}
/*  */

/* 热卖模块的样式设置 */
#remai{
    width:600px;
    margin:0 auto;
}

#remai p{
    font-size:16px;
    font-family:"楷体";
    line-height:35px;
    text-indent:2em;
}

#rmai span{
    text-decoration:underline;
}

/* 页脚模块的样式设置 */
#footer{
    width:600px;
    margin:0 auto;
}

#footer>p{
    font-weight:bold;
    text-align:center;
}

#footer img{
    float:left;
}

#footer .p1{
    font-family:"楷体";
    font-style:italic;
    font-size:14px;
}

#footer div p{
    line-height:30px;
    text-indent:20px;

}